ul { 
    list-style-type: none; /*On enlève les bullets de la liste*/
    border: 1px solid #e7e7e7; /*On ajoute le cadre gris*/
    margin: 0; /*On fait démarrer la barre tout en haut*/
    padding: 0;
    overflow: hidden; 
    background-color: #f3f3f3;
}

li { /*On met chaque element de la liste les uns à la suite des autres sur la gauche*/
    float : left;
}

li a {
    display: block;
    color: #666; /*Couleur du texte des pages de navigation*/
    text-align: center;
    padding: 16px 18px;
    text-decoration: none; /*On enleve le soulignage)*/
}

li a:hover:not(.active) { /*On modifie la couleur de la case quand on passe la souris dessus et qu'on se trouve pas sur la page en question */
    background-color: #ddd;
  }


li a.active{ /* On modifie la couleur du texte et de la case pour la page où l'on se trouve dèjà*/
    background-color: #eb8a2f;
    color: white;
}



.invader_text{
    display: block;
    text-align: center;
    float: right;
    border-left: 1px solid #bbb;
    background-color: #ddd;
}


h1{
    display: block;
    text-align: center;
}